@model HRM.WebUI.ViewModels.AppViewModel
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
<!DOCTYPE html>

<html>
<head>
  @*Meta data*@
  <meta charset="utf-8" />
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">
  <meta name="viewport" content="width=device-width" />

  <title>My HRM</title>
  <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
  <base href="/" />
  <environment names="Development, Staging">

  </environment>

  <environment names="Production">
    <link rel="stylesheet" href="@Url.Content("~/site.min.css")" asp-append-version="true" />
  </environment>

</head>
<body>
  <script>
    window.HRMAppData = {};
    var dataJSON = '@(Html.Raw(JsonConvert.SerializeObject(Model, new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() })))';
    window.HRMAppData = JSON.parse(dataJSON);
  </script>

  @RenderBody()

  <environment names="Development, Staging">
    <script type="text/javascript" src="@Url.Content("~/runtime.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/polyfills.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/styles.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/vendor.js")"></script>
  </environment>
  <environment names="Production">
    <script type="text/javascript" src="@Url.Content("~/site.min.js")"></script>
  </environment>

  @RenderSection("Scripts", required: false)
</body>
</html>
